.message {
  font-weight: 600;
  font-size: 16px;
  color: #d8a48f;
  border: solid 1px #d8a48f;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 10px;
  margin-top: 8px;
}
.tea {
  background-color: #daa391;
  color: white;
  padding: 5px;
  /* padding-left: 9px;
  padding-right: 9px; */
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50px;
  font-family: 'YourFontName', serif;
}
.big_title {
  color: #329d9c;
  margin-bottom: 4rem;
  font-size: 48px;
  font-family: 'YourFontName', serif;
}
